@font-face {
    font-family: harper;
    src: url(harper.ttf);
}
@font-face {
    font-family: hp;
    src: url(hp.ttf);
}




*{
    background-color: #979aa7;
}

.navbar-brand{
    text-align: center;
    
    
  
    padding: 20px;
    font-family: harper;
    color: white;
    font-size: 500%; 
    place-items: top;
}
p{
    text-align: center;
    color: white;
    font-family: harper;
    font-size: 50px;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px black;
}

.container{
    background-color: gray;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }