@font-face {
    font-family: cool;
    src: url(cool.otf) format("opentype");
}

@font-face {
    font-family: hp;
    src: url(harper.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #3c5e6e;
    --dark: #08171f;
    --light: #d3dce4;
    --body: #8cb5da;
    --sec2: #92a1af;
    --sec3: #c5d9eb;
}

body {
    background-color: #8cb5da;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cool;
}

.box {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid solid var(--primary);
}

h1 {
    color: var(--light);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0px -16px;
}

.menu a {
    color: #d3dce4;
    margin: 0 16px;
    font-weight: 600px;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active {
    background-color: var(--primary);
}

.menu a:hover {
    background-color: var(--primary);
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}

.section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    font-weight: 900;
    font-size: 15vw;
    overflow: hidden;
    color: var(--dark);
    text-shadow: 3px 3px 0 var(--dark), 6px 6px 0 var(--light), 9px 9px var(--dark), 12px 12px 0 var(--light);
}

.tilt {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.section1 span {
    transition: font-weight 0.4s ease-in;
    animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.section1 span:nth-child(1) {
    animation-delay: 1s;
}

.section1 span:nth-child(2) {
    animation-delay: 2s;
}

.section1 span:nth-child(3) {
    animation-delay: 3s;
}

.section1 span:nth-child(4) {
    animation-delay: 4s;
}

.section1 span:nth-child(5) {
    animation-delay: 5s;
}

.section1 span:nth-child(6) {
    animation-delay: 6s;
}

.section1 span:nth-child(7) {
    animation-delay: 7s;
}

.section1 span:hover {
    background-color: #9ac3e7;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 5vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating-secondary {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 1vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes tilting {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

.hr1 {
    border-top: 8px solid var(--dark);
    border-bottom: 8px solid var(--dark);
    margin-left: auto;
    margin-right: auto;
}

.hr2 {
    border-bottom: 16px solid var(--dark);
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

.about {
    padding-top: 150px;
    text-align: center;
}

.form {
    padding-top: 150px;
}

.img1 {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #c5d9eb;
    width: 1200px;
    height: 500px;
    margin: 15vh auto;
    padding-bottom: 15vh;
    border-radius: 30px;
    box-shadow: 10px 10px 16px -2px var(--dark), -10px -10px 16px -2px var(--dark);
}

.abouttext {
    font-size: 50px;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 90px;
    font-weight: 900;
    color: var(--dark);
    padding-top: 125px;
    text-shadow: 5px solid var(--body);
}

.section2 {
    background-color: var(--sec2);
    height: 100%;
    width: 100%;
    display: inline-block;
}

.gradientbg {
    background: rgb(146, 161, 175);
    background: -moz-linear-gradient(180deg, rgba(146, 161, 175, 1) 15%, rgba(197, 217, 235, 1) 67%);
    background: -webkit-linear-gradient(180deg, rgba(146, 161, 175, 1) 15%, rgba(197, 217, 235, 1) 67%);
    background: linear-gradient(180deg, rgba(146, 161, 175, 1) 15%, rgba(197, 217, 235, 1) 67%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#92a1af", endColorstr="#c5d9eb", GradientType=1);
    padding-top: 200px;
}

.section3 {
    background-color: #d3dce4;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.progress {
    padding-top: 150px;
    background-color: var(--sec3);
}

footer {
    height: 80px;
    text-align: center;
    background: rgb(41, 41, 41);
    background: -moz-linear-gradient( 180deg, rgba(41, 41, 41, 1) 0%, rgba(24, 30, 48, 1) 100%);
    background: -webkit-linear-gradient( 180deg, rgba(41, 41, 41, 1) 0%, rgba(24, 30, 48, 1) 100%);
    background: linear-gradient( 180deg, rgba(41, 41, 41, 1) 0%, rgba(24, 30, 48, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#292929", endColorstr="#181e30", GradientType=1);
    height: 100%;
    width: 100%;
    padding-bottom: 0%;
}

.div {
    font-family: "Merriweather", serif;
    font-size: 2rem;
}

.p,
.a {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2rem;
    color: #eee;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
    font-size: 2rem;
}

.ul li {
    padding: 1rem;
}

.fab {
    font-size: 5rem;
}

.fa-youtube,
.fa-instagram,
.fa-github,
.fa-snapchat {
    transition: 0.4s;
    cursor: pointer;
}

.fa-youtube:hover,
.fa-youtube:focus {
    color: #f84d50;
    transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
    color: #e260cc;
    transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
    color: #7c7878;
    transform: scale(1.1);
}

.fa-snapchat:hover,
.fa-snapchat:focus {
    color: #e5e75b;
    transform: scale(1.1);
}

.section4 {
    background-color: #C5D9EB;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding-top: 0%;
}

.card {
    width: 70%;
    padding: 30px 90px 90px 90px;
    border: 6px solid var(--dark);
    box-shadow: 15px 10px 0 var(--primary);
    border-radius: 50px;
    position: relative;
    background-color: var(--sec2);
    margin: 0 auto;
}

.card h2 {
    color: var(--dark);
    font-size: 60px;
    text-transform: uppercase;
}

.card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 30px;
}

.card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
}

.card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--dark);
}

.card .row .form-group input,
.card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: #d3dce4;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid var(--dark);
    box-shadow: 10px 10px 0 var(--primary);
    color: var(--dark);
    border-radius: 50px;
}

.card .row .form-group label {
    line-height: 40px;
    color: var(--dark);
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
}

.row .col:nth-child(6) {
    margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
    border: 5px solid #a8e8f1;
    transition: all 0.5s;
}

.card .row input[type="submit"] {
    border: 5px solid var(--dark);
    box-shadow: 10px 10px 0 var(--primary);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: #a8e8f1;
    text-transform: uppercase;
    color: var(--dark);
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
    background-color: white;
    transition: all 0.4s;
}

@media screen and (max-width: 900px) {
    .card .row {
        grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    }
    .card {
        padding: 20px;
    }
    .card h2 {
        font-size: 34px;
    }
    .card .row input[type="submit"] {
        width: 100%;
    }
}